[Desktop Entry]
Name=Butterflight Configurator
Comment=Crossplatform configuration tool for the Butterflight flight control system
Exec=/opt/butterflight/butterflight-configurator/butterflight-configurator
Icon=/opt/butterflight/butterflight-configurator/icon/bf_icon_128.png
Terminal=false
Type=Application
